[init]
	defaultBranch = main
[core]
	editor = /usr/bin/nvim
[user]
	email = ErgoAsh@users.noreply.github.com
	name = Marek K.

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://dev.azure.com"]
    useHttpPath = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
    tree = log --oneline --graph --all --decorate

